html {
  height: 100%;  
}
body {
  height: 100%;
  text-align: right;
  font-family: 'carmelit_regularregular';
  background-color: black;
}

.som {
  display: none;
  font-family: 'carmelit_regularregular';
  color: white;
  font-size: 23px;
}
.som span {
  position: relative;
  top: 1px;    
}

.welcome_message {
  z-index: 100;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.welcome_message img{
  left: 0;
  position: absolute;

}
.main_container {
  height: 100%;
  direction: rtl;
}
/* arrows */ 
.arrow {
  z-index: 1;
  width: 30px;
  height: 47px;  
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;

  opacity: 0.2;
  filter: alpha(opacity=0.2);

  cursor: pointer;

}
.arrow:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}
.left_arrow {
  background-position: 2px;
  position: fixed;
  top: 50%;
  left: 0;
}
.right_arrow {
  background-position: -55px;
  position: fixed;
  top: 50%;
  right: 242px;
}
.right_arrow span {
  left: 11px;
}
/* arrows end */ 


.frame {
  height: 100%;
  overflow: hidden;

}

.frame .slidee {
  overflow: scroll;
  width: 1000000px;
  height: 100%;
}
.frame .slidee > div {  
  float: right;
  position: relative;
  color: white;
  padding: 0 2px;
  height: 100%;
  display: inline-block;
}

.frame .slidee > div img.photo {
  display: inline-block;
  height: 100%;
}
.frame .slidee > div video {
  position: absolute;
  top:0;
  left:0;
}

a.piner {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  margin: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 10px;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);

}

.frame .slidee > div:hover a.piner {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.frame .slidee > div:hover a.piner:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.locations {
  border-left: 2px solid black;
  filter: alpha(opacity=50);
  opacity: 0.5;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  top: 0;
  width: 200px;
  bottom: 0;
  right: 0;
  background-color: #111;
  padding: 20px;
  position: fixed;
}

li#mplayer audio {
  width: 180px;
}


.locations:hover {
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.locations .slidee {
  height: 100%;
}

.locations .slidee li {
  cursor: pointer !important;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  transition:.22s;
  opacity:.6;
}

.locations .slidee li:hover{ opacity:1; transition:0s; }

.locations .slidee li.selected {
  background-color: #888;
  opacity: 1;
}

.locations .slidee li > a {
  color: white;
  text-decoration: none;  
  font-size: 24px;
}
.thanks {
  color: white;
  padding: 15px;
}

.thanks a {
  display: block;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

@media only screen and (max-width : 414px) and (orientation : portrait) {
  .arrow {
    display: none;
  }

  .locations {
    -webkit-transition: max-height 0.8s;
       -moz-transition: max-height 0.8s;
            transition: max-height 0.8s;
    -webkit-transition: width 0.3s;
       -moz-transition: width 0.3s;
            transition: width 0.3s;
    overflow: hidden;
    max-height: 20px;
    padding: 10px;
    width: 100%;
  }
  .locations .slidee {
    height: auto;
  }
  .locations li {
    display: none;
  }
  .locations:hover {
    max-height: 100%;
  }
  #mplayer {
    display: none;
  }
  .som span {
    display: inline;
  }
  .som {
    display: block;
  }

  .locations li {
    width: 100%;
  }
  .locations:hover {
    width: 50%;
  }
  .locations:hover li {
    display: block;
    font-size: 23px;
    padding: 1px;
  }
  .welcome_message img{
    width: 200%;
  } 
}

@media only screen and (min-width : 414px) and (max-height: 510px) {
  .welcome_message img{
    width: 100%;
  } 
  .arrow {
    display: none;
  }
  .som span {
    display: inline;
  }
  .locations li {
    display: none;
  }
  .locations {
    -webkit-transition: max-height 0.8s;
       -moz-transition: max-height 0.8s;
            transition: max-height 0.8s;
    -webkit-transition: width 0.3s;
       -moz-transition: width 0.3s;
            transition: width 0.3s;
    overflow: hidden;
    max-height: 20px;
    width: 100%;
  }
  .som {
    display: block;
  }
  .locations:hover {
    max-width: none !important;
    width: 295px !important;
    max-height: 100%;
    padding: 5px;
  }
  .locations .slidee {
    width: 100% !important;
  }
  .locations:hover li {
    width: 142px;
    font-size: 18px !important;
    margin: 1px !important;
    padding: 1px !important;
    display: inline;
    float: right;
  }
  #mplayer {
    display: none;
  }
}
