html {
  height: 100%;
  
}
body {
  height: 100%;
  direction: rtl;
  text-align: right;
  font-family: 'carmelit_regularregular';
  background-color: black;
}

.som {
  display: none;
  font-family: 'carmelit_regularregular';
  color: white;
  font-size: 23px;
}
.som span {
  position: relative;
  top: 1px;    
}

.main_container {
  height: 100%;
}

.frame {
  height: 100%;
}
/*.frame {
  top: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  overflow: scroll;
}

*/
.frame {
  height: 100%;
/*  bottom: 0;
  left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
*/}

.frame .slidee {
  height: 100%;
  font-size: 0;
  white-space: nowrap;
}
.frame .slidee li {
  vertical-align: top;
  display: inline-block;
  position: relative;
  color: white;
  padding: 0 2px;
  /*float: right;*/
  height: 100%;
}

/*.frame .slidee li:nth-last-child(1) {
  padding-left: 4px;
}
*/
.frame .slidee img.photo, .frame .slidee video {
  display: block;
  height: 100%;
}

a.piner {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  margin: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 10px;
}
a.piner img {
  margin: 0;
  padding: 0;  
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);

  width: 35px;
  height: 35px;
}

.frame .slidee li:hover a.piner img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.frame .slidee li:hover a.piner:hover {
}
.frame .slidee li:hover a.piner:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}

.locations {
  border-left: 2px solid black;
  filter: alpha(opacity=50);
  opacity: 0.5;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  top: 0;
  /*height: 100%;*/
  bottom: 0;
  right: 0;
  background-color: #111;
  padding: 20px;
  z-index: 1;
  position: fixed;
}

li#mplayer audio {
  width: 180px;
/*  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
*/
}

/*.locations:hover li#mplayer{
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
}*/

.locations:hover {
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.locations .slidee {
  height: 100%;

  /*border: 1px solid red;*/
}

.locations .slidee li {
  cursor: pointer !important;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  transition:.22s;
  opacity:.6;
  /*float: right;*/
}

.locations .slidee li:hover{ opacity:1; transition:0s; }

.locations .slidee li.selected {
  background-color: #888;
  opacity: 1;
}

.thanks {
  color: white;
  padding: 15px;
}

.thanks a {
  display: block;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

@media only screen and (max-width : 400px) and (orientation : portrait) {

  .locations {
    -webkit-transition: max-height 0.8s;
       -moz-transition: max-height 0.8s;
            transition: max-height 0.8s;
    -webkit-transition: width 0.3s;
       -moz-transition: width 0.3s;
            transition: width 0.3s;
    overflow: hidden;
    max-height: 20px;
    padding: 10px;
    width: 100%;
  }
  .locations .slidee {
    height: auto;
  }
  .locations li {
    display: none;
  }
  .locations:hover {
    max-height: 100%;
  }
  #mplayer {
    display: none;
  }
  .som span {
    display: inline;
  }
  .som {
    display: block;
  }

  .locations li {
    width: 100%;
  }
  .locations:hover {
    width: 50%;
  }
  .locations:hover li {
    display: block;
    font-size: 23px;
    padding: 1px;
  }
}

@media only screen and (min-width : 400px) and (max-height: 510px) {
  .som span {
    display: inline;
  }
  .locations li {
    display: none;
  }
  .locations {
    -webkit-transition: max-height 0.8s;
       -moz-transition: max-height 0.8s;
            transition: max-height 0.8s;
    -webkit-transition: width 0.3s;
       -moz-transition: width 0.3s;
            transition: width 0.3s;
    overflow: hidden;
    max-height: 20px;
    width: 100%;
  }
  .som {
    display: block;
  }
  .locations:hover {
    max-width: none !important;
    width: 295px !important;
    max-height: 100%;
    padding: 5px;
  }
  .locations .slidee {
    width: 100% !important;
  }
  .locations:hover li {
    width: 142px;
    font-size: 18px !important;
    margin: 1px !important;
    padding: 1px !important;
    display: inline;
    float: right;
  }
  #mplayer {
    display: none;
  }
}
