<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
  <head>
    <title>מיכל ודור 16.5.14</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:url"   content="http://www.yashpe.com/kalev/" />
    <meta property="og:type"  content="website" />
    <meta property="og:title" content="החתונה הקסומה של מיכל ודור" />
    <meta property="og:image" content="http://www.yashpe.com/kalev/medium-images/0285.jpg" />
    <meta name="twitter:url"  content="http://www.yashpe.com/kalev/" />
    <link   rel="shortcut icon" href="assets/favicon.png" type="image/x-icon" />
    <link   rel="icon" href="assets/favicon.png" type="image/x-icon" />
    
    HERE-COMES-CSS

    <script>
      if (localStorage.getItem('been_here') == 'true' && window.location.hash != '#d') {
        document.write("<style> .welcome_message { display: none;} </style>")
      } else {
        // document.write("<style> .main_container { display: none;} </style>");
      }
      if ( navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ) {
        if (confirm("דפדפן ספארי? לחץ כאן כדי להתקין דפדפן כרום ולהיות מאושר לנצח.")) {
          top.location.href = "https://itunes.apple.com/us/app/chrome-web-browser-by-google/id535886823?mt=8";
        }
      }
      if ( navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
        if (confirm("דפדפן ספארי? לחץ כאן כדי להתקין דפדפן פיירפוקס ולהיות מאושר לנצח.")) {
          top.location.href = "https://www.mozilla.org/en-US/firefox/new/";
        }    
        
      }
      if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
        if (confirm("דפדפן אינטאנט אקספלורר? לחץ כאן כדי להתקין דפדפן פיירפוקס ולהיות מאושר לנצח.")) {
          top.location.href = "https://www.mozilla.org/en-US/firefox/new/";
        }    
      }

      window.preload = function(f,h) {
        if (f == 0) window.original_title = document.title;
        document.title = (f > h - 10) ? window.original_title : "טען " + f + " מתוך " + h;
      }
    </script>
  </head>
  <body>
    <div class="welcome_message"><img src="medium-images/0285.jpg" /></div>
    <link href="ext/Carmelit_April13/stylesheet.css" type="text/css" charset="utf-8" rel="stylesheet" />
    <div class="main_container" tabindex="0">
      <div class="frame">
        <ul class="slidee">
          HERE-COMES-IMAGES
        </ul>
      </div>
      <div class="locations">
        <div class="som">
          <span>&#9776;</span>&nbsp;&nbsp;תפריט
        </div>
        <ul class="slidee">
          HERE-COMES-LOCATIONS
        </ul>
      </div>
    </div>
    <div class="arrow left_arrow"></div>
    <div class="arrow right_arrow"></div>
    HERE-COMES-JS    
  </body>
</html>